body {
    background-color: #eee;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.content-wrapper {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 5px 2px #ccc;
    -moz-box-shadow: 0 4px 5px 2px #ccc;
    -webkit-box-shadow: 0 4px 5px 2px #ccc;
    margin-top: 80px;
    padding: 30px 15px;
}

.page-ttl {
    color: $red;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.uppercase {
    text-transform: uppercase;
}
.page-desc {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn-wrap {
    width: 400px;
    margin: 0 auto;
    .page-desc {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .time-submiss {
        background-color: #eee;
        height: 40px;
        line-height: 40px;
        // -webkit-border-radius: 20px;
        // -moz-border-radius: 20px;
        // -o-border-radius: 20px;
        // border-radius: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .btn {
        margin-bottom: 15px;
    }
}